%ul.breadcrumb
  %li
    = link_to "Let's start", new_design_path
  %li.active
    Tell us a bit more about your design
  %li
    = link_to "What inspired this?", wizard_path(:inspiration)
 
= render 'errors'
= form_for @design, html: { multipart: true, class: "custom file-upload-form" }, url: wizard_path do |f|

  %form
    %div.form-group
      %h2 Tell us a bit more about your design
      %p Title
      = f.text_field :title, class: "form-control", placeholder: "Enter title"
      %p Description
      = f.text_area :description, class: "form-control", placeholder: "Description"
      %p Design Image
      = f.file_field :design_image, multiple: true, name: "design[design_image]"
      %p Category
      = f.text_field :category, class: "form-control", placeholder: "Category"

    = f.submit :submit, class: "btn btn-default"
